<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
    <!-- Shopster Configuration -->
    <add key="ShopsterConsumerKey" value="55555555-5555-5555-5555-555555555555" />
    <add key="ShopsterConsumerSecret" value="55555555-5555-5555-5555-555555555555" />
    <add key="ShopsterEndpointConfigurationName" value="MainBinding_IMain" />

    <!-- Shopify Configuration -->
    <add key="ShopifyDomain" value=".myshopify.com" />
    <!-- ShopifyProtocol should be "http://" or "https://" -->
    <add key="ShopifyProtocol" value="https://" />
    <!-- Replace this with your ApiKey from Shopify -->
    <add key="ShopifyAppAuthApiKey" value="55555555555555555555555555555555" />
    <!-- Replace this with your SecretKey from Shopify -->
    <add key="ShopifyAppAuthApiSharedSecret" value="55555555555555555555555555555555" />
  </appSettings>

  <connectionStrings>
    <add connectionString="server=localhost;database=connectster;uid=connectster;pwd=P@ssw0rd999;" name="connectster" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MainBinding_IMain" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2933/Main.svc" binding="basicHttpBinding"
          bindingConfiguration="MainBinding_IMain" contract="Core.Soap.IMain"
          name="MainBinding_IMain" />
      <metadata>
        <wsdlImporters>
          <extension type="WCFExtras.Wsdl.Documentation.XmlCommentsImporter, WCFExtras.Modified" />
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
</configuration>